import 'package:flutter_secure_storage/flutter_secure_storage.dart';
import 'package:vtenhappmerchant/storage_adapters/base_storage_adapter.dart';
import 'package:vtenhappmerchant/storage_adapters/secure_storage_adapter.dart';
import 'package:vtenhappmerchant/types/app_env_type.dart';

class ApiConstant {
  static final String baseUrl = 'http://localhost:8080';
  static final String path = '/api/v2/storefront';
  static final String authPath = '/spree_oauth/token';

  static final AppEnvType env = AppEnvType.staging;
  static final bool useFixture = false;

  static final String clientId = '';
  static final String clientSecret = '';

  static final String localizeEndPoint =
    "https://docs.google.com/spreadsheets/d/e/2PACX-1vRfC4yLNMc6p96WVQpCwAxnq3s2Va-tvee2yaA9YTl4c5TaGOfx_iGxWjeYIzdMmKGRSqXSI6pewAq0/pub?gid=1286847532&single=true&output=csv";

  static final int recordPerPage = 10;
}
